<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">MNAddEmotionAttributes</label>
    <label lang="en">MNAddEmotionAttributes</label>

    <version>1.0.2</version>
    <link>https://github.com/mnaczenski/</link>
    <author>Moritz Naczenski</author>
    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Veröffentlichung</changes>
        <changes lang="en">Release</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">Option hinzugefügt der Einkaufswelt zusätzliche CSS Klassen zu geben.</changes>
        <changes lang="en">Added option to define custom CSS classes for shoppingworld elements.</changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="de">Zusätzliche CSS Klassen werden auf Landingseiten nicht ausgegeben.</changes>
        <changes lang="en">Additional CSS Classes not shown in landing pages.</changes>
    </changelog>
</plugin>
